.post {
    min-width: 540px;
    max-width: 540px;
    width: 540px;
    border-style: solid;
    border-radius: 6px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

#form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    padding: 10px;
    border-bottom: rgba(0, 0, 0, 0.65);
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
}

#posts {
    margin-top: 50px;
}

img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

video {
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

body {
    font-family: "Helvetica Neue",HelveticaNeue,Arial,sans-serif;
    background: #001935;
}
