.post {
    min-width: 768px;
    max-width: 768px;
    width: 768px;
    border-style: solid;
    border-width: 2px;
    border-color: mediumslateblue;
    border-radius: 6px;
    margin: 20px auto;
    padding: 20px;
}

img {
    width: 100%;
}

video {
    margin-left: auto;
    max-height: 400px;

}

body {
    font-family: "Helvetica Neue",HelveticaNeue,Arial,sans-serif;
}
